@import './_variables.less';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Roboto, Ubuntu, Helvetica Neue, sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    display: flex;

    @media (max-width: 699px) {
        min-height: calc(100vh - 53px - 3.7rem);
    }

    @media (min-width: 700px) {
        min-height: calc(100vh - 53px - 3.6rem);
    }
}

a {
    color: @primaryColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}